{% extends "base.html" %}

{% block title %}{{ text.title }} | {% endblock %}

{% block content %}
<main class="block" id="text-header">
    <h1>{{ text.title }}</h1>
    <p>By <span id="text-author">{{ text.author }}</span></p>
    <a id="toggle-language" class="button card" href="#~">Toggle Latin/English</a>
</main>
<section class="block text-lines" id="text-content">
    <p>{{ text.content }}</p>
</section>
<section class="block text-lines" id="text-translation">
    <p>{{ text.translation }}</p>
</section>
<section class="block" id="text-analyses">
    <h1>Summary of analyses</h1>
    {% for quotation in quotations %}
    <div class="card quotation" id="{{ quotation.slug }}">
        <h2>{{ quotation.latin }}</h2>
        {% for annotation in quotation.annotations.all %}
        <div class="annotation">
            <h3>{{ annotation.device }}: </h3><p>{{ annotation.description }}</p>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</section>
<script>
 const toggle_language = document.querySelector("#toggle-language");
 const latin = document.querySelector("#text-content");
 const english = document.querySelector("#text-translation");

 function toggleLanguage() {
     if (latin.style.display == "none" && english.style.display == "block") {
         latin.style.display = "block";
         english.style.display = "none";
     } else {
         latin.style.display = "none";
         english.style.display = "block";
     }
 }
 toggle_language.addEventListener("click", toggleLanguage);

 const infoAnnotations = document.querySelector("#info-annotations");
 const annotations = document.querySelectorAll(".annotation"); // fix this to work!!
 const content = document.querySelector("#text-content p");
 var newContent = content.innerHTML;

 for (var i = 0, a; a = annotations[i]; i++) {
     var latinLocation = a.parentNode.querySelector("h2").innerHTML;
     var latinID = a.parentNode.id;
     var formulatedLink = "<a href='#" + latinID +"'>" + latinLocation + "</a> ";
     if (newContent.includes('href=\'#' + latinID + '\'')) {
         continue;
     }
     const regex = new RegExp(latinLocation + "[^(')(/a)]", "gi");
     newContent = newContent.replace(regex, "<span class='highlight'>" + formulatedLink + "</span>");
 }
 content.innerHTML = newContent;
</script>
{% endblock %}
