{% extends "base.html" %}

{% block title %}{{ text.title }} | {% endblock %}

{% block content %}
<main class="block" id="text-header">
    <h1>{{ text.title }}</h1>
    <p>By <span id="text-author">{{ text.author }}</span></p>
    <a id="toggle-language" class="card" href="#~">Toggle Latin/English</a>
</main>
<section class="block text-lines" id="text-content">
    <p>{{ text.content }}</p>
</section>
<section class="block text-lines" id="text-translation">
    <p>{{ text.translation }}</p>
</section>
<section class="block" id="text-analyses">
    <h1>Summary of analyses</h1>
    {% for annotation in annotations %}
    <div class="card annotation-body annotation">
        <h2>{{ annotation.latin }}</h2>
        <h3>{{ annotation.device }}: </h3><p>{{ annotation.description }}</p>
    </div>
    {% endfor %}
</section>
<script>
 const toggle_language = document.querySelector("#toggle-language");
 const latin = document.querySelector("#text-content");
 const english = document.querySelector("#text-translation");

 function toggleLanguage() {
     if (latin.style.display == "none" && english.style.display == "block") {
         latin.style.display = "block";
         english.style.display = "none";
     } else {
         latin.style.display = "none";
         english.style.display = "block";
     }
 }
 toggle_language.addEventListener("click", toggleLanguage);

 const annotations = document.querySelectorAll(".annotation");
 const content = document.querySelector("#text-content p");
 var newContent = content.innerHTML;

 for (var i = 0, a; a = annotations[i]; i++) {
     var latinLocation = a.querySelector("h2").innerHTML;
     const regex = new RegExp(latinLocation, "gi");
     newContent = newContent.replace(regex, "<div class='annotation-body'><span class='highlight' onclick='toggleAnnotation(this)'><a href='#~'>" + latinLocation + "</a></span>" + a.outerHTML + "</div> ");
 }
 content.innerHTML = newContent;

 function toggleAnnotation(highlight) {
     var annotation = highlight.parentNode.querySelector(".annotation");
     if (annotation.style.display == "inline-block") {
         annotation.style.display = "none";
     } else {
         annotation.style.display = "inline-block";
     }
 }
</script>
{% endblock %}
