/* [====] Fonts [====] */
@import url("https://fonts.googleapis.com/css?family=Quattrocento|Old+Standard+TT:700");
/* [====] Variables [====] */
/* [====] Mixins [====] */
/* [====] Imports [====] */
body {
  font-family: "Quattrocento", serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Old Standard TT", sans-serif; }

a {
  text-decoration: none;
  color: #659157; }

input {
  min-width: 20vw;
  font-size: 2rem;
  font-family: "Quattrocento", serif; }

input, select, option {
  background: white;
  border: 1px solid black;
  border-radius: 0;
  padding: 0.6em;
  color: black; }

select {
  padding: 0.1em; }

.card {
  background: white;
  border: 1px solid black;
  border-radius: 0;
  padding: 1.5em;
  margin: 1em 0;
  color: black; }

.block {
  width: 50vw;
  margin: 0 auto; }
  @media (max-width: 540px) {
    .block {
      width: 95%;
      max-width: 95vw; } }

main#search-section a#search-more-options {
  background: white;
  border: 1px solid black;
  padding: 0.6em;
  color: #df3b57;
  text-decoration: none; }
  main#search-section a#search-more-options:hover {
    text-decoration: underline; }

main#search-section #search-body {
  margin: 0 auto;
  text-align: center;
  display: block; }

main#search-section input {
  display: inline-block; }

main#search-section div#search-select {
  min-width: 100%;
  margin: 1em auto;
  text-align: center;
  display: none; }

@media (max-width: 540px) {
  main#search-section input {
    width: calc(100% - 1.2em - 2px);
    margin-bottom: 0.3em; }
  main#search-section a#search-more-options {
    display: block; } }

div#search-results {
  width: 100%; }
  div#search-results div.word span.hl {
    color: white;
    background: #df3b57; }
  div#search-results div.word span.hl.english {
    color: white;
    background: #df3b57; }
  div#search-results div.word span.english {
    display: inline;
    color: #df3b57; }
  div#search-results div.word h2.definition {
    display: inline; }
  div#search-results div.word h3.type {
    display: inline;
    font-style: italic;
    color: rgba(0, 0, 0, 0.5); }
  div#search-results div.word h2.category {
    text-decoration: underline;
    margin: 1em 0 0; }

nav {
  margin: 1rem auto;
  text-align: center; }
  nav h1 {
    margin: 0 auto; }
    nav h1 a {
      font-size: 3rem;
      display: inline;
      color: black; }
      nav h1 a:hover {
        color: #df3b57; }
      @media (max-width: 540px) {
        nav h1 a {
          font-size: 2rem; } }
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0.5em; }
    nav ul li {
      padding: 0 0.5em; }
      nav ul li a {
        padding: 0.3em 1em;
        color: #df3b57;
        font-size: 1.3em;
        border-bottom: 2px solid black; }
        nav ul li a:hover {
          color: white;
          background: #df3b57;
          border-bottom: 2px solid #df3b57; }

section#literature-texts .text-card {
  display: block; }
  section#literature-texts .text-card:hover {
    background: #df3b57;
    color: white;
    border: 2px solid #df3b57; }

main#text-header {
  margin-left: 2em;
  width: 60rem;
  margin: 0 auto; }
  main#text-header h1 {
    margin-bottom: 0.1em; }
  main#text-header span#text-author {
    font-style: italic; }
  main#text-header a#toggle-language {
    text-align: right;
    display: inline-block;
    margin: 0; }
    main#text-header a#toggle-language:hover {
      background: #df3b57;
      color: white;
      border: 1px solid #df3b57; }

section.text-lines {
  width: 60rem;
  max-width: 100%;
  margin: 0 auto;
  font-size: 1.5rem;
  line-height: 3em; }
  @media (max-width: 540px) {
    section.text-lines {
      font-size: 1.2rem; } }

section#text-translation {
  display: none;
  font-style: italic; }

section#text-content div.annotation-body {
  position: relative;
  display: inline; }
  section#text-content div.annotation-body span.highlight {
    background: #659157;
    color: white; }
    section#text-content div.annotation-body span.highlight:hover {
      background: #2d4127;
      cursor: pointer; }
    section#text-content div.annotation-body span.highlight a {
      color: white; }
      @media (max-width: 540px) {
        section#text-content div.annotation-body span.highlight a {
          padding: 0.2em; } }
  section#text-content div.annotation-body div.annotation {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    width: 50rem;
    font-size: 0.9rem;
    padding: 1.5em;
    z-index: 1;
    line-height: initial;
    display: none; }
    section#text-content div.annotation-body div.annotation h2 {
      visibility: hidden;
      display: none; }
    section#text-content div.annotation-body div.annotation h3 {
      margin: 0;
      display: inline;
      font-size: 1.4rem;
      color: #df3b57; }
    section#text-content div.annotation-body div.annotation p {
      font-size: 1.2rem;
      display: inline;
      margin: 0; }
    @media (max-width: 540px) {
      section#text-content div.annotation-body div.annotation {
        bottom: 1rem;
        position: relative;
        right: 0;
        width: 90vw;
        font-size: 0.5rem; } }
  @media (max-width: 540px) {
    section#text-content div.annotation-body {
      position: static;
      left: 0;
      width: 100vw; } }

section#text-analyses {
  border: 1px solid black;
  padding: 1em; }
  section#text-analyses .annotation {
    border: 0;
    margin: 0;
    padding-top: 0;
    border-bottom: 1px solid black; }
    section#text-analyses .annotation h2 {
      font-style: italic;
      display: block;
      font-weight: normal; }
    section#text-analyses .annotation h3 {
      font-size: 1.5rem;
      color: #df3b57;
      display: inline;
      margin-top: 2em; }
    section#text-analyses .annotation p {
      display: inline; }
  @media (max-width: 540px) {
    section#text-analyses {
      width: 88%; } }

section#test-setup .selection {
  display: flex;
  justify-content: space-between; }
  section#test-setup .selection output {
    font-size: 1.5rem;
    width: 10%;
    text-align: center;
    height: 3vh;
    line-height: 3em;
    vertical-align: middle; }
  section#test-setup .selection input[type=range] {
    font-size: 1rem;
    width: 80%;
    margin: 0;
    align-self: right; }
  section#test-setup .selection input[type=radio] {
    width: 1em;
    min-width: 1em; }
  section#test-setup .selection select {
    display: block;
    align-self: right; }
  @media (max-width: 540px) {
    section#test-setup .selection {
      flex-direction: column; }
      section#test-setup .selection select {
        width: 95%; } }

section#test-setup a#test-submit {
  display: block;
  width: 25vw;
  text-align: center;
  margin: 2em auto; }
  section#test-setup a#test-submit:hover {
    background: #df3b57;
    color: white;
    border: 2px solid #df3b57; }
