/* [====] Fonts [====] */
@import url("https://fonts.googleapis.com/css?family=Petrona|Old+Standard+TT:700");
/* [====] Variables [====] */
/* [====] Mixins [====] */
/* [====] Imports [====] */
body {
  font-family: "Petrona", serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Old Standard TT", sans-serif; }

a {
  text-decoration: none;
  color: #659157; }

input {
  min-width: 20vw;
  font-size: 1.5rem;
  font-family: "Petrona", serif; }

.button, input, select, option {
  background: white;
  border: 1px solid black;
  border-radius: 0;
  padding: 0.6em;
  color: black; }

.button:hover, input[type=button]:hover, input[type=submit]:hover, button:hover {
  background: #df3b57;
  color: white;
  border: 1px solid #df3b57; }

select {
  padding: 0.1em; }

.card {
  background: white;
  border: 1px solid black;
  border-radius: 0;
  padding: 1.5em;
  margin: 1em 0;
  color: black; }

.block {
  width: 50vw;
  margin: 0 auto; }
  @media (max-width: 540px) {
    .block {
      width: 95%;
      max-width: 95vw; } }

main#search-section a#search-more-options {
  background: white;
  border: 1px solid black;
  padding: 0.6em;
  color: #df3b57;
  text-decoration: none; }
  main#search-section a#search-more-options:hover {
    text-decoration: underline; }

main#search-section #search-body {
  margin: 0 auto;
  text-align: center;
  display: block; }

main#search-section input {
  display: inline-block; }

main#search-section div#search-select {
  min-width: 100%;
  margin: 1em auto;
  text-align: center;
  display: none; }

@media (max-width: 540px) {
  main#search-section input {
    width: calc(100% - 1.2em - 2px);
    margin-bottom: 0.3em; }
  main#search-section a#search-more-options {
    display: block; } }

div#search-results {
  width: 100%; }
  div#search-results div.word span.hl {
    color: white;
    background: #df3b57; }
  div#search-results div.word span.hl.english {
    color: white;
    background: #df3b57; }
  div#search-results div.word span.english {
    display: inline;
    color: #df3b57; }
  div#search-results div.word h2.definition {
    display: inline; }
  div#search-results div.word h3.type {
    display: inline;
    font-style: italic;
    color: rgba(0, 0, 0, 0.5); }
  div#search-results div.word h2.category {
    text-decoration: underline;
    margin: 1em 0 0; }

nav {
  margin: 1rem auto;
  text-align: center; }
  nav h1 {
    margin: 0 auto; }
    nav h1 a {
      font-size: 3rem;
      display: inline;
      color: black; }
      nav h1 a:hover {
        color: #df3b57; }
      @media (max-width: 540px) {
        nav h1 a {
          font-size: 2rem; } }
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0.5em; }
    nav ul li {
      padding: 0 0.5em; }
      nav ul li a {
        padding: 0.3em 1em;
        color: #df3b57;
        font-size: 1.3em;
        border-bottom: 2px solid black; }
        nav ul li a:hover {
          color: white;
          background: #df3b57;
          border-bottom: 2px solid #df3b57; }

section#literature-texts .text-card {
  display: block; }
  section#literature-texts .text-card:hover {
    background: #df3b57;
    color: white;
    border: 1px solid #df3b57; }

main#text-header {
  margin-left: 2em;
  width: 60rem;
  margin: 0 auto;
  max-width: 90%; }
  main#text-header h1 {
    margin-bottom: 0.1em; }
  main#text-header span#text-author {
    font-style: italic; }
  main#text-header a#toggle-language {
    text-align: right;
    display: inline-block;
    margin: 0; }
    main#text-header a#toggle-language:hover {
      background: #df3b57;
      color: white;
      border: 1px solid #df3b57; }

section.text-lines {
  width: 60rem;
  max-width: 90%;
  margin: 0 auto;
  font-size: 1.5rem;
  line-height: 4.4rem; }
  @media (max-width: 540px) {
    section.text-lines {
      width: 90%;
      font-size: 1.35rem;
      line-height: 4rem; } }
  section.text-lines br {
    margin-bottom: 0.7em; }

#backtotop {
  position: fixed;
  bottom: 1em;
  right: 1em;
  padding: 1em; }

:target {
  border: 3px solid #df3b57 !important;
  -webkit-animation: target-fade 1s 1;
  -moz-animation: target-fade 1s 1; }

@-webkit-keyframes target-fade {
  0% {
    background-color: rgba(223, 59, 87, 0.5); }
  100% {
    background-color: transparent; } }

@-moz-keyframes target-fade {
  0% {
    background-color: rgba(223, 59, 87, 0.5); }
  100% {
    background-color: transparent; } }

section#text-translation {
  display: none;
  font-style: italic; }

.top-sticky {
  margin-top: 5em !important; }

section#text-content span.highlight a {
  background: #659157;
  color: white;
  padding: 0.1em; }
  section#text-content span.highlight a:hover {
    background: #2d4127; }

section#text-analyses {
  border: 1px solid black;
  padding: 1em;
  max-width: 90%;
  width: 60rem; }
  section#text-analyses div.quotation {
    border: 0;
    padding: 0.2em 0.5em 0;
    border-top: 2px solid black; }
    section#text-analyses div.quotation div.annotation {
      padding: 1.5em 0.8em;
      border-top: 1px solid black; }
    section#text-analyses div.quotation h2 {
      margin-bottom: 0.5em;
      font-style: italic;
      display: block;
      font-weight: normal; }
    section#text-analyses div.quotation h3 {
      font-size: 1.3em;
      color: #df3b57;
      display: inline; }
    section#text-analyses div.quotation p {
      font-size: 1.1em;
      display: inline; }
  @media (max-width: 540px) {
    section#text-analyses {
      width: 88%; } }

section#test-setup .selection {
  display: flex;
  justify-content: space-between;
  flex-direction: column; }
  section#test-setup .selection output {
    font-size: 1.5rem; }
    @media (max-width: 540px) {
      section#test-setup .selection output {
        text-align: center; } }
  section#test-setup .selection input[type=range] {
    font-size: 1rem;
    max-width: 80vw; }
    @media (max-width: 540px) {
      section#test-setup .selection input[type=range] {
        margin: 0 auto; } }
  section#test-setup .selection input[type=radio] {
    display: inline; }
  section#test-setup .selection label {
    border-bottom: 2px solid black;
    margin: 0.7em 0;
    padding: 0.5em 0; }
  section#test-setup .selection div label {
    display: inline-block;
    width: auto;
    border: 0;
    margin: 0; }
  section#test-setup .selection select {
    display: block;
    width: 50%; }
    @media (max-width: 540px) {
      section#test-setup .selection select {
        width: 90vw; } }

section#test-setup a#test-submit {
  display: block;
  width: 25vw;
  text-align: center;
  margin: 2em auto; }
  section#test-setup a#test-submit:hover {
    background: #df3b57;
    color: white;
    border: 2px solid #df3b57; }

#test__scores {
  display: none;
  margin-left: 0 calc(auto + 2em); }
  #test__scores #test__retake {
    display: block;
    width: 90%;
    text-align: center;
    padding: 1em;
    margin: 1em auto; }
  @media (max-width: 540px) {
    #test__scores div {
      overflow: scroll; } }
  #test__scores #test__report {
    border: 2px solid black;
    margin: 0 auto; }
    #test__scores #test__report td, #test__scores #test__report th {
      margin: 1em;
      border: 0;
      border-bottom: 2px solid black;
      padding: 1em; }
    #test__scores #test__report tr {
      margin: 0; }
    #test__scores #test__report tr:nth-of-type(2n) {
      background: #e1e3e5; }
    #test__scores #test__report tr:nth-of-type(1) {
      border-bottom: 3px solid black; }
    #test__scores #test__report td:nth-of-type(3n) {
      color: #df3b57; }
    #test__scores #test__report .test__correct td:nth-of-type(1) {
      background: #659157;
      color: white; }

#test__questions {
  margin: 0 auto;
  text-align: center; }

.test__question {
  display: none;
  margin: 0 auto; }
  .test__question div {
    display: flex;
    justify-content: center;
    flex-direction: row; }
    .test__question div input[type=text] {
      flex-grow: 1; }
    .test__question div input[type=button] {
      cursor: pointer;
      font-size: 1.3rem;
      flex-grow: 1;
      margin-left: 2px; }
