{% extends "base.html" %}

{% block title %}Vocabulary | {% endblock %}

{% block content %}
<main id="search-section">
    <div id="search-body">
        <input autocomplete="off" tabindex=1 autofocus="autofocus" type="text" id="search" name="search" placeholder="e.g amicus, amici, m">
        <a href="#" id="search-more-options">More ></a>
    </div>
    <div id="search-select">
        <label for="category_selector" id="filter-category">Filter by category: </label>
        <select id="category_selector" name="category_selector">
            <option value="All">All</option>
            {% for category in categories %}
            <option value="{{ category }}">{{ category }}</option>
            {% endfor %}
        </select>
    </div>
    <div id="search-results"></div>
</main>
<script>
 const moreButton = document.querySelector("a#search-more-options");
 const filters = document.querySelector("div#search-select");
 const searchInput = document.querySelector("#search");
 const results = document.querySelector("#search-results");
 const words = JSON.parse("{{ words | escapejs }}");
 const categorySelector = document.querySelector("select#category_selector");

 function showFilters() {
     if (filters.style.display === "none" || filters.style.display === "") {
         filters.style.display = "block";
     } else {
         filters.style.display = "none";
     }
 }

 function searchWords(user_input, words) {
     let userSelectedCategory = document.querySelector("select#category_selector").value;
     let isCategoryMatch;

     var result = words.filter(function(word){
         const regex = new RegExp(user_input, "gi");

         if (userSelectedCategory == "All") {
             isCategoryMatch = true
         } else {
             isCategoryMatch = word["fields"].category.match(userSelectedCategory)
         }

         if (user_input == "") {
             return isCategoryMatch;
         } else {
             return (word["fields"].english.match(regex) || word["fields"].latin.match(regex)) && isCategoryMatch;
         }
     });
     return result;
 }

 function showWords() {
     const currentElem = searchInput.value.toLowerCase()
     const matches = searchWords(searchInput.value, words)
     const html = matches.map(function(word) {
         const regex = new RegExp(currentElem, "gi");
         const latinWord = word["fields"].latin.replace(regex, "<span class='hl'>" + currentElem +"</span>");
         const englishWord = word["fields"].english.replace(regex, "<span class='hl english'>" + currentElem +"</span>");
         return "<div class='word card'> \
        <h2 class='definition'>" + latinWord + ": <span class='english'>" + englishWord + "</span></h2>&nbsp;<h3 class='type'>(" + word['fields'].type + ")</h3>\
            <h2 class='category'>" + word['fields'].category + "</h2>\
    </div>\
    "
     }).join("");

     results.innerHTML = html
 }
 
 moreButton.addEventListener("click", showFilters);
 categorySelector.addEventListener("change", showWords);
 searchInput.addEventListener("keyup", showWords);
</script>
{% endblock %}
