<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
    <head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="manifest" href="manifest.json">
	<title>{% block title %}{% endblock %}GCSE OCR Latin</title>
	<link rel="stylesheet" href="{% static 'styles.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<link rel="icon" href="{% static 'favicon.ico' %}"/>
    </head>
    <body>
	<nav class="buttons">
	    <h1><a id="test" class="button" href="/test/">Test me!</a></h1>
	    <h1><a id="print" class="button" href="#">Print</a></h1>
	</nav>
        {% block content %}{% endblock %}
    </body>
</html>
