section#literature-texts {
    .text-card {
        display: block;

        &:hover {
            background: $primary-color;
            color: white;
            border: 2px solid $primary-color;
        }
    }
}

main#text-header {
    margin-left: 2em;
    width: 60rem;
    margin: 0 auto;

    h1 {
        margin-bottom: 0.1em;
    }

    span#text-author {
        font-style: italic;
    }

    a#toggle-language {
        text-align: right;
        display: inline-block;
        margin: 0;

        &:hover {
            background: $primary-color;
            color: white;
            border: 1px solid $primary-color;
        }
    }
}

section.text-lines {
    width: 60rem;
    max-width: 100%;
    margin: 0 auto;
    font-size: 1.5rem;
    line-height: 3em;
}

section#text-translation {
    display: none;
    font-style: italic;
}

div.annotation-body {
    position: relative;
    display: inline-block;

    span.highlight {
        background: $secondary-color;
        color: white;

        &:hover {
            background: darken($secondary-color, 25%);
            cursor: pointer;
        }

        a {
            color: white;
        }
    }

    div.annotation {
        position: absolute;
        bottom: 3em;
        right: 2em;
        width: 50rem;
        font-size: 0.9rem;
        padding: 1em;
        z-index: 1;
        line-height: initial;
        display: none;

        h2 {
            visibility: hidden;
            display: none;
        }

        h3 {
            margin: 0;
            display: inline;
            font-size: 1.4rem;
            color: $primary-color;
        }

        p {
            font-size: 1.2rem;
            display: inline;
            margin: 0;
        }
    }
}

section#text-analyses {
    .annotation {
        border: 0;
        margin: 0;
        padding-top: 0;
        border-bottom: 1px solid black;


        h2 {
            font-style: italic;
            display: block;
            font-weight: normal;
        }

        h3 {
            font-size: 1.5rem;
            color: $primary-color;
            display: inline;
            margin-top: 2em;
        }

        p {
            display: inline;
        }
    }
}
