nav {
    margin: 1rem auto;
    text-align: center;

    h1 {
        margin: 0 auto;

        a {
            font-size: 3rem;
            display: inline;
            color: black;

            &:hover {
                color: $primary-color;
            }

            @include mobile {
                font-size: 2rem;
            }
        }
    }

    ul {
        list-style: none;
        display: flex;
        justify-content: center;
        flex-direction: row;
        padding-left: 0;
        margin-bottom: 0.5em;

        li {
            padding: 0 0.5em;

            a {
                padding: 0.3em 1em;
                color: $primary-color;
                font-size: 1.3em;
                border-bottom: 2px solid black;

                &:hover {
                    color: white;
                    background: $primary-color;
                    border-bottom: 2px solid $primary-color;

                }
            }
        }
    }
}
