section#test-setup {
    .selection {
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        output {
            font-size: 1.5rem;

            @include mobile {
                text-align: center;
            }
        }

        input[type=range] {
            font-size: 1rem;
            max-width: 80vw;

            @include mobile {
                margin: 0 auto;
            }
        }

        input[type=radio] {
            display: inline;
        }

        label {
            border-bottom: 2px solid black;
            margin: 0.7em 0;
            padding: 0.5em 0;
        }

        div label {
            display: inline-block;
            width: auto;
            border: 0;
            margin: 0;
        }

        select {
            display: block;
            width: 50%;

            @include mobile {
                width: 90vw;
            }
        }
    }

    a#test-submit {
        display: block;
        width: 25vw;
        text-align: center;
        margin: 2em auto;

        &:hover {
            background: $primary-color;
            color: white;
            border: 2px solid $primary-color;
        }
    }
}


#test__scores {
    display: none;
    margin-left: 0 calc(auto + 2em);

    #test__retake {
        display: block;
        width: 90%;
        text-align: center;
        padding: 1em;
        margin: 1em auto;
    }

    div {
        @include mobile {
            overflow: scroll;
        }
    }

    #test__report {
        border: 2px solid black;
        margin: 0 auto;

        td, th {
            margin: 1em;
            border: 0;
            border-bottom: 2px solid black;
            padding: 1em;
        }

        tr {
            margin: 0;
        }

        tr:nth-of-type(2n) {
            background: $grey;
        }

        tr:nth-of-type(1) {
            border-bottom: 3px solid black;
        }

        td:nth-of-type(3n) {
            color: $primary-color;
        }

        .test__correct td:nth-of-type(1) {
            background: $secondary-color;
            color: white;
        }
    }
}

#test__questions {
    margin: 0 auto;
    text-align: center;
}

.test__question {
    display: none;
    margin: 0 auto;

    div {
        display: flex;
        justify-content: center;
        flex-direction: row;

        input[type=text] {
            flex-grow: 1;
        }

        input[type=button] {
            cursor: pointer;
            font-size: 1.3rem;
            flex-grow: 1;
            margin-left: 2px;
        }
    }
}
