main#search-section {
    a#search-more-options {
        background: white;
        border: 1px solid black;
        padding: 0.6em;
        color: $primary-color;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    #search-body {
        margin: 0 auto;
        text-align: center;
        display: block;
    }

    input {
        display: inline-block;
    }

    div#search-select {
        min-width: 100%;
        margin: 1em auto;
        text-align: center;
        display: none;
    }

    @include mobile {
        input {
            width: calc(100% - 1.2em - 2px);
            margin-bottom: 0.3em;
        }

        a#search-more-options {
            display: block;
        }
    }
}

div#search-results {
    width: 100%;

    div.word {
        span.hl {
            color: white;
            background: $primary-color;
        }

        span.hl.english {
            color: white;
            background: $primary-color;
        }

        span.english {
            display: inline;
            color: $primary-color;
        }

        h2.definition {
            display: inline;
        }

        h3.type {
            display: inline;
            font-style: italic;
            color: rgba(black, 0.5);
        }

        h2.category {
            text-decoration: underline;
            margin: 1em 0 0;
        }
    }
}
